<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Mr+De+Haviland&family=Qwigley&family=Sarpanch&display=swap"
        rel="stylesheet">
    <style>
        @media (max-width: 800px) {
            body {
                background-color: #45637d3d;
            }

            .mainh {
                background-color: rgb(0 0 0 / 67%);
                margin: -36px -8px;
                height: 103px;
                width: 1519px;
            }

            .head1 {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 1);
                color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: solid;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .lect {
                color: white;
                background-color: #607d8b;
                font-size: 25px;
                width: 1500px;
                font-family: 'Parisienne', cursive;
            }

            .head1:hover {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: outset;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .sen {
                font-size: 24px;
                width: 1000px;
                margin-left: 184px;
            }

            .foot {
                color: #dadadad9;
                background-color: rgba(0, 0, 0, 0.86);
                width: 1519px;
                margin-top: 2543px;
                height: 104px;
                margin-left: -8px;
                text-align: center;
            }

            .videos {
                display: flex;
                flex-direction: column;
                height: 150px;
                margin-left: 80px;
            }

            .vid {
                margin-left: 412px;
                height: 597px;
                width: 514px;
            }

            a {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 0.89);
                color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }

            a:hover {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }
        }

        @media (min-width: 800px) {
            body {
                background-color: #45637d3d;
            }

            .mainh {
                background-color: rgb(0 0 0 / 67%);
                margin: -36px -8px;
                height: 103px;
                width: 1519px;
            }

            .head1 {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 1);
                color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: solid;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .lect {
                color: white;
                background-color: #607d8b;
                font-size: 25px;
                width: 1500px;
                font-family: 'Parisienne', cursive;
            }

            .head1:hover {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: outset;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .foot {
                color: #dadadad9;
                background-color: rgba(0, 0, 0, 0.86);
                width: 1519px;
                margin-top: 2100px;
                height: 104px;
                margin-left: -8px;
                text-align: center;
            }

            .videos {
                display: flex;
                flex-direction: column;
                height: 150px;
                margin-left: 80px;
            }

            .picsen {
                background-color: #2196f31f;
                display: flex;
                flex-direction: column;
                padding: 40px 376px;
                margin: 40px -17px;
                width: 620px;
            }

            .vid {
                margin-left: 152px;
                height: 349px;
                width: 288px;
            }

            a {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 0.89);
                color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }

            a:hover {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }
        }
    </style>
</head>

<body>
    <header>
        <div class="mainh"></div>
        <h2 class="head1">StudyHub</h2>
        <p class="lect">About Us</p>
    </header>

    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Iframe -->
        <section>
            <div class="row d-flex justify-content-center">
                <div class="videos" class="col-lg-6" style="display: inline-flex;">

                    <div class="picsen">
                        <!--Neeche jo 4 videos h unhe hmaari image se replace krdio biroo-->
                        <img class="vid" src ="images/palash.jpg" alt="network error">
                        <p class="sen"> PALASH MITTAL (Team leader) , REG.NO:20195114, B.tech 2nd Year , 4th Semester , Electronics and communication Engineering ,  MNNIT ALLAHABAD , email:palashmittal2020@gmail.com , Phone.NO:9588095439</p>
                    
                    </div>


                    <div class="picsen">
                        <img class="vid" src ="images/aish.jpg" alt="network error">
                        <p class="sen">Aishwary Tripathi , REG.NO:20191105, B.tech 2nd Year , 4th Semester , Civil Engineering ,  MNNIT ALLAHABAD , email:aishwary.harsh.16@gmail.com , Phone.NO:9807726798</p>
                    </div>
                    <div class="picsen">
                       <img class="vid" src ="images/yash.jpg" alt="network error">
                        <p class="sen">Yash Johari , REG.NO:20196026, B.tech 2nd Year , 4th Semester , PI Engineering ,  MNNIT ALLAHABAD , email:johariyash258@gmail.com , Phone.NO:9027196376</p>
                    </div>
                    <div class="picsen">
                    <img class="vid" src ="images/Ankit.jpg" alt="network error">
                        <p class="sen">Ankit Pandey , REG.NO:20193073, B.tech 2nd Year , 4th Semester , Mechanical engineering ,  MNNIT ALLAHABAD , email:shamikantpandey559@gmail.com , Phone.NO:7275263224</p>

                    </div>
                </div>
        </section>

        <!-- Section: Iframe -->
    </div>
    <!-- Grid container -->

    <footer>
        <!-- Copyright -->
        <div class="foot">
            © 2021 Copyright: <a>StudyHub</a>
            <p>Designed by: TEAM Hack101</p>
        </div>
        <!-- Copyright -->
    </footer>
</body>

</html>
