<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemistry Section</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Mr+De+Haviland&family=Qwigley&family=Sarpanch&display=swap"
        rel="stylesheet">
    <style>
        @media (max-width: 799px) {
            body {
                background-color: #45637d3d;
            }

            .mainh {
                background-color: rgb(0 0 0 / 67%);
                margin: -36px -8px;
                height: 103px;
                width: 798px;
            }

            .head1 {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 1);
                color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: solid;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .lect {
                color: white;
                background-color: #607d8b;
                font-size: 23px;
                width: 782px;
            }

            .head1:hover {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: outset;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .foot {
                color: #dadadad9;
                background-color: rgba(0, 0, 0, 0.86);
                width: 798px;
                margin-top: 11499px;
                height: 104px;
                margin-left: -8px;
                text-align: center;

            }

            .videos {
                display: flex;
                flex-direction: column;
                height: 150px;
                margin-left: 80px;
            }

            .picsen {
                background-color: #2196f31f;
                display: flex;
                flex-direction: column;
                padding: 40px 10px;
                margin: 40px -17px;
            }

            .sen {
                width: 440px;
                padding: 22px 100px;
                background-color: #78909c;
                font-size: 19px;
            }

            .vid {
                margin-left: 54px;
                height: 222px;
                width: 524px;
            }

            a {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 0.89);
                color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }

            a:hover {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }
        }


        @media (min-width: 800px) {
            body {
                background-color: #45637d3d;
            }

            .mainh {
                background-color: rgb(0 0 0 / 67%);
                margin: -36px -8px;
                height: 103px;
                width: 1519px;
            }

            .head1 {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 1);
                color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: solid;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .lect {
                color: white;
                background-color: #607d8b;
                font-size: 25px;
                width: 1500px;
            }

            .head1:hover {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: outset;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .foot {
                color: #dadadad9;
                background-color: rgba(0, 0, 0, 0.86);
                width: 1519px;
                margin-top: 9432px;
                height: 125px;
                margin-left: -8px;
                text-align: center;
            }

            .videos {
                display: flex;
                flex-direction: column;
                height: 150px;
                margin-left: 80px;
            }

            .picsen {
                background-color: #2196f31f;
                display: inline-flex;
                padding: 40px 10px;
                margin: 40px 16px;
            }

            .sen {
                width: 600px;
                padding: 22px 100px;
                background-color: #78909c;
                font-size: 22px;
            }

            .vid {
                height: 324px;
                width: 525px;
            }

            a {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 0.89);
                color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }

            a:hover {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }
        }
            
        }
    </style>
</head>

<body>
    <header>
        <div class="mainh"></div>
        <h2 class="head1">StudyHUB</h2>
        <p class="lect">Chemistry Lectures</p>
    </header>

    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Iframe -->
        <section>
            <div class="row d-flex justify-content-center">
                <div class="videos" class="col-lg-6" style="display: inline-flex;">

                     <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/1v5Yt4-Bfio" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry Basics; Inductive Effect!!
                        </p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/g1zNzWWQq94" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry; Mesomeric Effect and Resonance Effect!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/DbtT9lhiS-U" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry; Hyperconjugation and Reaction Intermediates!!
                        </p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/1yYxIeZOYv8" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry; Alkanes, Alkenes and Alkynes!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/gKK5LU20lVQ" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Basic Organic Chemistry for class 11th and 12th!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/Jx-TMH8R2Kc" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry in Depth; Complete IUPAC!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/v_ZQ97Pp_Ho" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry; Haloalkanes and Haloarenes!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/c8lD2TVOKsk" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry; SN2 Reactions!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/8qUheSsN3PU" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry; SN1 Reactions!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/xzR6utd_JrU" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry; Haloalkanes and Haloarenes Part 2!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/myRjqy3KE_0" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry; Alcohols, Phenols, and Ethers!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/KiRM0c1UQAQ" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry; Preparation of Phenols!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/HfqGX4DI9ZY" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry; Reaction of Alcohols!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/FUJHruf5O5o" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry; Reactions of Phenols and Anisole!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/fuE8oJQZ5EE" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry; Alcohols, Phenols and Ethers (PartII)</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/1IhMwCYvp5g" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry; Aldehydes, Ketones and Carboxylic Acids!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/URjBK7oHs1g" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry; Aldol and Cannizaro Reaction!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/5Tb6QUXSVV0" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry; Reactions of Aldehydes and Ketones!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/QEJ5RNdBIiM" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Organic Chemistry; Iodoform Test, Tollen's Test and Fehling Test!!</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Iframe -->
    </div>
    <!-- Grid container -->

    <footer>
        <!-- Copyright -->
        <div class="foot">
            © 2021 Copyright: <a>StudyHUB</a>
            <p>Designed by: TeamHack101</p>
        </div>
        <!-- Copyright -->
    </footer>
</body>

</html>