<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Section</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Mr+De+Haviland&family=Qwigley&family=Sarpanch&display=swap"
        rel="stylesheet">
    <style>
        @media (max-width: 799px) {
            body {
                background-color: #45637d3d;
            }

            .mainh {
                background-color: rgb(0 0 0 / 67%);
                margin: -36px -8px;
                height: 103px;
                width: 798px;
            }

            .head1 {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 1);
                color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: solid;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .lect {
                color: white;
                background-color: #607d8b;
                font-size: 23px;
                width: 782px;
            }

            .head1:hover {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: outset;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .foot {
                color: #dadadad9;
                background-color: rgba(0, 0, 0, 0.86);
                width: 798px;
                margin-top: 11499px;
                height: 104px;
                margin-left: -8px;
                text-align: center;

            }

            .videos {
                display: flex;
                flex-direction: column;
                height: 150px;
                margin-left: 80px;
            }

            .picsen {
                background-color: #2196f31f;
                display: flex;
                flex-direction: column;
                padding: 40px 10px;
                margin: 40px -17px;
            }

            .sen {
                width: 440px;
                padding: 22px 100px;
                background-color: #78909c;
                font-size: 19px;
            }

            .vid {
                margin-left: 54px;
                height: 222px;
                width: 524px;
            }

            a {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 0.89);
                color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }

            a:hover {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }
        }


        @media (min-width: 800px) {
            body {
                background-color: #45637d3d;
            }

            .mainh {
                background-color: rgb(0 0 0 / 67%);
                margin: -36px -8px;
                height: 103px;
                width: 1519px;
            }

            .head1 {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 1);
                color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: solid;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .lect {
                color: white;
                background-color: #607d8b;
                font-size: 25px;
                width: 1500px;
            }

            .head1:hover {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: outset;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .foot {
                color: #dadadad9;
                background-color: rgba(0, 0, 0, 0.86);
                width: 1519px;
                margin-top: 9432px;
                height: 125px;
                margin-left: -8px;
                text-align: center;
            }

            .videos {
                display: flex;
                flex-direction: column;
                height: 150px;
                margin-left: 80px;
            }

            .picsen {
                background-color: #2196f31f;
                display: inline-flex;
                padding: 40px 10px;
                margin: 40px 16px;
            }

            .sen {
                width: 600px;
                padding: 22px 100px;
                background-color: #78909c;
                font-size: 22px;
            }

            .vid {
                height: 324px;
                width: 525px;
            }

            a {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 0.89);
                color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }

            a:hover {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }
        }
            
        }
    </style>
</head>

<body>
    <header>
        <div class="mainh"></div>
        <h2 class="head1">StudyHUB</h2>
        <p class="lect">English Lectures</p>
    </header>

    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Iframe -->
        <section>
            <div class="row d-flex justify-content-center">
                <div class="videos" class="col-lg-6" style="display: inline-flex;">

                     <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/QEOhEzca-jc" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Introduction!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/LxqVP_Fr7vs" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Chapter-1 Lost Spring!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/Y6ZMoIE89Wo" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Chapter-2 Deep Water!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/6edxcwPe9mA" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Chapter-3 The Rat-Trap!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/HKuv4hHGXIk" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Chapter-4 My Mother at Sixy-Six!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/jT3W4Mhs8rI" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Chapter-5 A Thing of Beauty!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/gvgo8uIGOUU" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Chapter-6 Aunt Jennifer's Tiger!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/uNsMu1CbHZI" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Chapter-7 The Third Level!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/586p1k_04bw" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Chapter-8 The Enemy!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/Jgx_sG-HmiA" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Chapter-9 On The Face of It!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/d83WTO4tbJU" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Chapter-10 Should Wizard Hit Mommy!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/23ZvLrU_Ne4" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Chapter-11 Indigo!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/qpfuiJBx4bE" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Chapter-12 Keeping Quiet!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/PoXsD1KfnkU" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Chapter-13 Evan Tries an O Level!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/0WgVjLMJrfE" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Chapter-14 An Elementary School Classroom In A Slum!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/LuSOLDgeTlY" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Important Long Answers!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/ohtqCsx2I9M" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Most Important Questions!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/nlsuVJME8Gk" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; Poem Keeping Quiet Important Questions!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/8x9CiYqJyPY" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">English; How to get Effective Marks in English Exams!!</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Iframe -->
    </div>
    <!-- Grid container -->

    <footer>
        <!-- Copyright -->
        <div class="foot">
            © 2021 Copyright: <a>StudyHUB</a>
            <p>Designed by: Team101</p>
        </div>
        <!-- Copyright -->
    </footer>
</body>

</html>