<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathematics Section</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Mr+De+Haviland&family=Qwigley&family=Sarpanch&display=swap"
        rel="stylesheet">
    <style>
        @media (max-width: 799px) {
            body {
                background-color: #45637d3d;
            }

            .mainh {
                background-color: rgb(0 0 0 / 67%);
                margin: -36px -8px;
                height: 103px;
                width: 798px;
            }

            .head1 {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 1);
                color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: solid;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .lect {
                color: white;
                background-color: #607d8b;
                font-size: 23px;
                width: 782px;
            }

            .head1:hover {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: outset;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .foot {
                color: #dadadad9;
                background-color: rgba(0, 0, 0, 0.86);
                width: 798px;
                margin-top: 11499px;
                height: 104px;
                margin-left: -8px;
                text-align: center;

            }

            .videos {
                display: flex;
                flex-direction: column;
                height: 150px;
                margin-left: 80px;
            }

            .picsen {
                background-color: #2196f31f;
                display: flex;
                flex-direction: column;
                padding: 40px 10px;
                margin: 40px -17px;
            }

            .sen {
                width: 440px;
                padding: 22px 100px;
                background-color: #78909c;
                font-size: 19px;
            }

            .vid {
                margin-left: 54px;
                height: 222px;
                width: 524px;
            }

            a {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 0.89);
                color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }

            a:hover {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }
        }


        @media (min-width: 800px) {
            body {
                background-color: #45637d3d;
            }

            .mainh {
                background-color: rgb(0 0 0 / 67%);
                margin: -36px -8px;
                height: 103px;
                width: 1519px;
            }

            .head1 {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 1);
                color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: solid;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .lect {
                color: white;
                background-color: #607d8b;
                font-size: 25px;
                width: 1500px;
            }

            .head1:hover {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: outset;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .foot {
                color: #dadadad9;
                background-color: rgba(0, 0, 0, 0.86);
                width: 1519px;
                margin-top: 9432px;
                height: 125px;
                margin-left: -8px;
                text-align: center;
            }

            .videos {
                display: flex;
                flex-direction: column;
                height: 150px;
                margin-left: 80px;
            }

            .picsen {
                background-color: #2196f31f;
                display: inline-flex;
                padding: 40px 10px;
                margin: 40px 16px;
            }

            .sen {
                width: 600px;
                padding: 22px 100px;
                background-color: #78909c;
                font-size: 22px;
            }

            .vid {
                height: 324px;
                width: 525px;
            }

            a {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 0.89);
                color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }

            a:hover {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }
        }
            
        }
    </style>
</head>

<body>
    <header>
        <div class="mainh"></div>
        <h2 class="head1">StudyHUB</h2>
        <p class="lect">Mathematics Lectures</p>
    </header>

    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Iframe -->
        <section>
            <div class="row d-flex justify-content-center">
                <div class="videos" class="col-lg-6" style="display: inline-flex;">

                      <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/q8pIHt2r6DY" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Determinants!!</p>
                    </div>


                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/KI_RMKMhV2Q" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Matrices!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/MbgxVZXytgA" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Continuity and Differentiability!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/0gGBncYdZCM" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Derivatives!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/YXbtNKgIH-o" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Compelete Mean Value Theorems with Basics and Problems!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/ahRU7lBnqLE" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Application of Derivatives!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/vfWaLAUbN1Q" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Increasing and Decreasing Functions!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/Mts61HHoLOQ" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Indefinite Integration!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/ObOwbKWc-l0" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Definite Integration!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/D7VYedrnIqY" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Solving Maxima and Minima!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/LUeeECGTqWM" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Differential Equation!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/iI5mHI57IQQ" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Vector Algebra!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/iI5mHI57IQQ" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Equations of a Straight Line!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/NhUyfOsbP2o" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Application of Integrals!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/6DFy9dGDj9A" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; 3D Geometry Planes!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/SMonjPJkIms" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Probability!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/RR_HdW5XQiE" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Relations and Functions</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/LNe8rst2G4g" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Inverse Trignometric Functions!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/wD2YfEu6mDo" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; New Pattern Change Strategy!!</p>
                    </div>
                    <div class="picsen">
                        <iframe class="vid" src="https://www.youtube.com/embed/PtyTy_7KTRY" title="YouTube video"
                            allowfullscreen></iframe>
                        <p class="sen">Mathematics; Preparation For Boards!!</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Iframe -->
    </div>
    <!-- Grid container -->

    <footer>
        <!-- Copyright -->
        <div class="foot">
            © 2021 Copyright: <a>StudyHUB</a>
            <p>Designed by: TeamHack101</p>
        </div>
        <!-- Copyright -->
    </footer>
</body>

</html>