<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <style>
        @media (min-width: 904px) {
            body {
                background-color: #45637d3d;
            }

            .mainh {
                background-color: rgb(0 0 0 / 67%);
                margin: -36px -8px;
                height: 103px;
                width: 1519px;
            }

            .head1 {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 1);
                color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: solid;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }



            .head1:hover {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: outset;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .oval {
                display: block;
                background-color: #3f51b52e;
                height: 665px;
                width: 1250px;
                margin-left: 125px;
                border-bottom-left-radius: 6350px;
                border-bottom-right-radius: 6350px;
                border-top-left-radius: 6350px;
                border-top-right-radius: 6350px;
            }

            .about {
                font-family: 'Parisienne', cursive;
                margin-left: 480px;
                padding-top: 30px;
                font-size: 43px;
            }

            .study {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 0.89);
                color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
                margin-top: -12px;
                margin-left: 556px;
                text-align: center;
            }

            .sen {
                color: #416be1;
                margin-left: 194px;
                width: 900px;
                margin-top: 37px;
            }

            .foot {
                color: #dadadad9;
                background-color: rgba(0, 0, 0, 0.86);
                width: 1519px;
                margin-top: 95px;
                height: 125px;
                margin-left: -8px;
                text-align: center;
            }

            .ab {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 0.89);
                color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }

            .ab:hover {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }
        }

        @media (max-width: 904px) {
            body {
                background-color: #45637d3d;
            }

            .mainh {
                background-color: rgb(0 0 0 / 67%);
                margin: -36px -8px;
                height: 103px;
                width: 1519px;
            }

            .head1 {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 1);
                color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: solid;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }



            .head1:hover {
                display: block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                margin: 0px 29px;
                height: 45px;
                font-size: 35px;
                border: outset;
                border-radius: 0px 58px;
                width: 219px;
                text-align: center;
            }

            .about {
                font-family: 'Parisienne', cursive;
                margin-left: 480px;
                padding: 30px 154px;
                font-size: 43px;
            }

            .study {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 0.89);
                color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
                margin-top: -12px;
                margin-left: 556px;
                text-align: center;
            }

            .sen {
                color: #416be1;
                margin-left: 350px;
                width: 900px;
                margin-top: 37px;
                font-size: 45px;
                align-items: center;


            }

            .foot {
                color: #dadadad9;
                background-color: rgba(0, 0, 0, 0.86);
                width: 1519px;
                margin-top: 95px;
                height: 125px;
                margin-left: -8px;
                text-align: center;
            }

            .ab {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                background-color: rgba(0, 0, 0, 0.89);
                color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }

            .ab:hover {
                display: inline-block;
                font-family: 'Sarpanch', sans-serif;
                color: rgba(0, 0, 0, 0.89);
                background-color: #dadadad9;
                border: outset;
                border-radius: 0px 58px;
                width: 180px;
                font-size: 29px;
            }
        }

    </style>
</head>

<body>
    <header>
        <div class="mainh"></div>
        <h2 class="head1">StudyHub</h2>
    </header>
    <div class="oval">
        <h2 class="about">About our Website</h2>
        <a class="study">StudyHub</a>
        <p class="sen">Here are some of the services provided by our website-->> <br> 
            Biology: In Biology section we bring you everything that you need to know regarding boards examination and several other competitive examinations. Some of the important topics are; Genetics, Inheritance and variation, prevention and precautions from several diseases, reproduction etc. <br>
            Chemistry: In Chemistry section our main objective is to focus on organic chemistry because students found it difficult to grasp. So we provide you that in abundant form and easy to grasp. Topics; Inductive effect, Mesomeric effect, Resonance effect, Alkanes , Alkenes and Alkynes etc. <br>
            English: In English section we have carefully observed what students like and modified our course according to the needs of students. We have covered almost all of the literature scetion and given hints on how tp prepare for exams and score top score. Topics; Lost Spring, Deep Water, The Rat Trap, Should Wizard Hit Mommy?, Aunt Jennifer's Tiger etc. <br>
            Information Technology: In Infomation Technology section our main focus is on programming language python. Python is thought to make a basic understanding for the programming language. Topics; String and string functions, Lists and tupkes, Dictionaries, Bubble, Returning Value, Data Visualisation, Infix to Postfix and many more. <br>
            Mathematics: In Mathematics scetion we have covered all the important topics needed for various examination. Well maths is considered the toughest subject of all but we have provided several tricks and made it fun to understand the maths course. Topics; Determinants, Matrices, Application of Derivatives, Maxima & Minima, Integration, Linear Programming and Probability. <br> 
            Physics: Last but not the least we have the Physics Section, the most intersting one and loved by all. We have made this course with utmost care. Topics; Wave Optics, Ray Optics, Refraction and TIR, Electric Field, Magnetic Field, Capacitance, Current Electricity, Induction, Dual Nature of Radiation and Matter.
        </p>
    </div>
    <footer>
        <div class="foot">
            © 2021 Copyright: <a class="ab">StudyHUB</a>
            <p>Designed by: TeamHack101</p>
        </div>
    </footer>
</body>

</html>