
  <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx auto">
        <h1 class="text-center main-heading">About us</h1>
        <p class="text-center sub-heading">We help you find best Study Material Available On Internet</p>
        <div class="row">
          <div class="col-md-6 col-12 hero-text">
            <figure>
              <img src="images/new2.svg" alt="homesection-image">
            </figure>
          </div>
          <div
            class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
            <h1>we are pro developeres</h1>
           
            <p>In the age of internet and MOOCs, do we really need to spend huge amount on getting degrees? One can equally quench his third for knowledge by joining online classes. Online classes are not only cheap but also conveniently arranged for those who are working. What else a student would want if he gets free classes that too online.</p>
           <a href="/aboutus"> <button class="btn-style btn-primary">read more</button></a>
          </div>
          

        </div>

      </div>
    </div>
  </div>
