<div class="container-fluid mt-5 contact-style" id="contactid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact Us</h1>
            <p class="text-center sub-heading">We Will Be Happy To Help You</p>
            <div class="row">
                <div class="col-md-6 col-12 mx-auto">
                    <form action="/contact" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Full Name"
                                name="fullname">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailhelp" placeholder="Enter Your Email" name="fullemail"> <small
                                id="emailhelp" class="form-text-muted">We Will Never Share Your Email With AnyOne
                                Else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Phone Number</label>
                            <input type="number" class="form-control" id="exampleInputPassword1"
                                placeholder="Your Phone number" name="phone">

                            <div class="form-group">
                                <label for="exampleInputPassword1">Message</label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Your Message" name="message">
                                <button type="submit" class="btn-style btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>