<div class="container-fluid mt-5 about-style" id="courseid">
    <div class="row">
        <div class="col-md-10 col-12 mx auto">
            <h1 class="text-center main-heading">Our courses</h1>
            <p class="text-center sub-heading">You can gain free access to the following subjects Playlists</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/i1.png" alt="Network eror">
                            </div>
                            <h4>Mathematics</h4>
                            <p>jsdhg uisdhfdsjiugshgnfdiug hkldsisdhjs dngijsdhgs
                            </p>
                            <a href="/Maths"><button type="button" class="btn btn-primary btn-lg">Watch Now</button></a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon">
                                <img src="images/i1.png" alt="Network eror">
                            </div>
                            <h4>Chemistry</h4>
                            <p>jsdhg uisdhfdsjiugshgnfdiug hkldsisdhjs dngijsdhgs
                            </p>
                           <a href="/chemistry"><button type="button" class="btn btn-primary btn-lg">Watch Now</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon">
                                <img src="images/i1.png" alt="Network eror">
                            </div>
                            <h4>Physics</h4>
                            <p>jsdhg uisdhfdsjiugshgnfdiug hkldsisdhjs dngijsdhgs
                            </p>
                           <a href="/physics"><button type="button" class="btn btn-primary btn-lg">Watch Now</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                <img src="images/i1.png" alt="Network eror">
                            </div>
                            <h4>English</h4>
                            <p>jsdhg uisdhfdsjiugshgnfdiug hkldsisdhjs dngijsdhgs
                            </p>
                           <a href="/english"><button type="button" class="btn btn-primary btn-lg">Watch Now</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                <img src="images/i1.png" alt="Network eror">
                            </div>
                            <h4>I.T.</h4>
                            <p>jsdhg uisdhfdsjiugshgnfdiug hkldsisdhjs dngijsdhgs
                            </p>
                           <a href="/it"><button type="button" class="btn btn-primary btn-lg">Watch Now</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon">
                                <img src="images/i1.png" alt="Network eror">
                            </div>
                            <h4>Biology</h4>
                            <p>jsdhg uisdhfdsjiugshgnfdiug hkldsisdhjs dngijsdhgs
                            </p>
                           <a href="/biology"><button type="button" class="btn btn-primary btn-lg">Watch Now</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>